.header {
    display: flex;
    padding: 20px 100px;
    background-color: #131C25;

    &__inner {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    &__nav {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__link {
        text-decoration: none;
        color: white;
        font-size: 17px;
    }

    &__link-home {
        margin-right: 30px;
    }

    &__tools {
        display: flex;
    }

    &__indicator {
        height: 2px;
        border-radius: 3px;
        background-image: linear-gradient(to left, rgb(101, 115, 255),
        rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231),
         rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), 
         rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184),
          rgb(196, 108, 176), rgb(206, 107, 168));
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        transition: .5s;
    }
}

.search {
    &__inner {
        display: flex;
        position: relative;
    }

    &__input {
        background-color: #263A4F;
        width: 280px;

        padding: 8px 10px;
        margin-right: 30px;

        border-radius: 6px;
        border: 0px;

        color: white;
        font-size: 17px;

        outline: none;
        -webkit-appearance: none;
    }

    &__input:focus {
        border-radius: 6px;
        border: 1px solid white; 
    }

    &__btn {
        position: absolute;
        right: 40px;
        top: 9px;
    }
}